{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": [1, { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export": 0,
    "react/sort-comp": 0,
    "jsx-quotes": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "parser": "babel-eslint"
}
